[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=5.0"
flake8-annotations = ">=3.0"
flake8-bandit = ">=4.1"
flake8-bugbear = ">=23.3"
flake8-builtins = ">=2.1"
flake8-comprehensions = ">=3.11"
flake8-eradicate = ">=1.4"
flake8-print = ">=5.0"
flake8-pytest-style = ">=1.6"
flake8-quotes = ">=3.3"
mypy = ">=1.1"
autopep8 = ">=2.0"
pyinstaller = ">=5.9"
pytest = ">=7.2"
pytest-asyncio = ">=0.21"
invoke = ">=2.0"
types-dateparser = ">=1.1"

[packages]
fasteners = ">=0.18"
PySide6 = "==6.4.3"
loguru = ">=0.6"
vdf = ">=3.4"
appdirs = ">=1.4"
pywin32 = ">=306"
charset_normalizer = ">=3.1"
httpx = ">=0.23"
qasync = ">=0.23"
dateparser = ">=1.1"
dataclasses-json = ">=0.5"

[pipenv]
allow_prereleases = true
