[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7.7"
mypy = ">=0.701"
autopep8 = ">=1.4.4"
pyinstaller = "==3.4"
pytest = ">=4.0"
invoke = ">=1.3"

[packages]
fasteners = ">=0.14"
requests = ">=2.21"
PySide2 = ">=5.12"
QtPy = ">=1.5"
loguru = ">=0.2.5"
vdf = ">=3.1"
appdirs = ">=1.4"
pywin32 = "==224"
cchardet = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
