[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
mypy = ">=0.761"
autopep8 = ">=1.4"
pyinstaller = ">=3.6"
pytest = ">=5.3"
pytest-asyncio = ">=0.10"
invoke = ">=1.4"

[packages]
fasteners = ">=0.15"
PySide2 = ">=5.14"
QtPy = ">=1.9"
loguru = ">=0.4"
vdf = ">=3.2"
appdirs = ">=1.4"
pywin32 = ">=227"
cchardet = "==2.1.5"
httpx = ">=0.12"
asyncqt = ">=0.8"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
